html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul,
ol {
  padding-left: 20px;
}

ul li,
ol li {
  margin-bottom: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 1 0 0%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .col {
    flex: 1 0 100%;
  }
}
